[submodule "monolith"]
	path = monolith
	url = https://github.com/joaobosconff/jhipster-monolith-example
	branch = main
[submodule "microsservice"]
	path = microsservice
	url = https://github.com/joaobosconff/jhipster-microsservice-example
	branch = main
